@charset "UTF-8";
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  * 1. Add text decoration inheritance in all browsers (opinionated).
  * 2. Add vertical alignment inheritance in all browsers (opinionated).
  */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Change the line height in all browsers (opinionated).
  * 3. Use a 4-space tab width in all browsers (opinionated).
  * 4. Remove the grey highlight on links in iOS (opinionated).
  * 5. Prevent adjustments of font size after orientation changes in
  *    IE on Windows Phone and in iOS.
  * 6. Breaks words to prevent overflow in all browsers (opinionated).
  */
html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
  * ========================================================================== */
/**
  * Remove the margin in all browsers (opinionated).
  */
body {
  margin: 0;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Edge, Firefox, and Safari.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
  * ========================================================================== */
/**
  * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
  */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
  * Remove the margin on nested lists in Edge 18- and IE.
  */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
  * 1. Correct the inheritance of border color in Firefox.
  * 2. Add the correct box sizing in Firefox.
  * 3. Show the overflow in Edge 18- and IE.
  */
hr {
  color: inherit; /* 1 */
  height: 0; /* 2 */
  overflow: visible; /* 3 */
}

/**
  * Add the correct display in IE.
  */
main {
  display: block;
}

/**
  * Remove the list style on navigation lists in all browsers (opinionated).
  */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
  * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
  */
nav li::before {
  content: "​";
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  * 3. Prevent overflow of the container in all browsers (opinionated).
  */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
  -ms-overflow-style: scrollbar; /* 3 */
}

/* Text-level semantics
  * ========================================================================== */
/**
  * Remove the gray background on active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Add the correct text decoration in Edge 18-, IE, and Safari.
  */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */
b,
strong {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */
small {
  font-size: 80%;
}

/* Embedded content
  * ========================================================================== */
/*
  * Change the alignment on media elements in all browsers (opinionated).
  */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
  * Add the correct display in IE 9-.
  */
audio,
video {
  display: inline-block;
}

/**
  * Add the correct display in iOS 4-7.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Remove the border on iframes in all browsers (opinionated).
  */
iframe {
  border-style: none;
}

/**
  * Remove the border on images within links in IE 10-.
  */
img {
  border-style: none;
}

/**
  * Change the fill color to match the text color in all browsers (opinionated).
  */
svg:not([fill]) {
  fill: currentColor;
}

/**
  * Hide the overflow in IE.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
  * ========================================================================== */
/**
  * 1. Collapse border spacing in all browsers (opinionated).
  * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
  * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
  */
table {
  border-collapse: collapse; /* 1 */
  border-color: inherit; /* 2 */
  text-indent: 0; /* 3 */
}

/* Forms
  * ========================================================================== */
/**
  * Remove the margin on controls in Safari.
  */
button,
input,
select {
  margin: 0;
}

/**
  * 1. Show the overflow in IE.
  * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
  */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
  * Correct the inability to style buttons in iOS and Safari.
  */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
  * 1. Change the inconsistent appearance in all browsers (opinionated).
  * 2. Correct the padding in Firefox.
  */
fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/**
  * Show the overflow in Edge 18- and IE.
  */
input {
  overflow: visible;
}

/**
  * 1. Correct the text wrapping in Edge 18- and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
  * 1. Add the correct display in Edge 18- and IE.
  * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
  */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
  * Remove the inheritance of text transform in Firefox.
  */
select {
  text-transform: none;
}

/**
  * 1. Remove the margin in Firefox and Safari.
  * 2. Remove the default vertical scrollbar in IE.
  * 3. Change the resize direction in all browsers (opinionated).
  */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
  resize: block; /* 3 */
}

/**
  * Remove the padding in IE 10-.
  */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
  * 1. Correct the odd appearance in Chrome, Edge, and Safari.
  * 2. Correct the outline style in Safari.
  */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Safari.
  */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  * Correct the text style of placeholders in Chrome, Edge, and Safari.
  */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
  * Remove the inner padding in Chrome, Edge, and Safari on macOS.
  */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style upload buttons in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
  * Remove the inner border and padding of focus outlines in Firefox.
  */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus outline styles unset by the previous rule in Firefox.
  */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Remove the additional :invalid styles in Firefox.
  */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
  * ========================================================================== */
/*
  * Add the correct display in Edge 18- and IE.
  */
details {
  display: block;
}

/*
  * Add the correct styles in Edge 18-, IE, and Safari.
  */
dialog {
  background-color: #fff;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
  * Add the correct display in all browsers.
  */
summary {
  display: list-item;
}

/* Scripting
  * ========================================================================== */
/**
  * Add the correct display in IE 9-.
  */
canvas {
  display: inline-block;
}

/**
  * Add the correct display in IE.
  */
template {
  display: none;
}

/* User interaction
  * ========================================================================== */
/*
  * Remove the tapping delay in IE 10.
  */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
}

/**
  * Add the correct display in IE 10-.
  */
[hidden] {
  display: none;
}

/* Accessibility
  * ========================================================================== */
/**
  * Change the cursor on busy elements in all browsers (opinionated).
  */
[aria-busy=true] {
  cursor: progress;
}

/*
  * Change the cursor on control elements in all browsers (opinionated).
  */
[aria-controls] {
  cursor: pointer;
}

/*
  * Change the cursor on disabled, not-editable, or otherwise
  * inoperable elements in all browsers (opinionated).
  */
[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/*
  * Change the display on visually hidden accessible elements
  * in all browsers (opinionated).
  */
[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* sanitize overwrite */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ol,
ul,
li {
  list-style: none;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
}

main {
  display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: initial;
  margin: 0;
  outline: none;
  padding: 0;
}

nav li:before {
  content: "";
  display: none;
}

:root {
  --screenHeight: 0px;
  --pageHeight: 0px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  font-family: "YakuHanJP_Noto", "Noto Sans JP", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  -webkit-text-size-adjust: 100%;
}
body.-lock {
  overflow: hidden;
}

img {
  max-width: 100%;
}

iframe[name=google_conversion_frame] {
  height: 0;
  position: absolute;
}

.l-main {
  position: relative;
}
@media (min-width: 835px) {
  .l-main {
    min-height: calc(100vh - 109px);
  }
}
@media (min-width: 835px) {
  .top .l-main {
    min-height: auto;
  }
}

.l-footer {
  background: url(/omnibus/assets/img/common/footer/ph_bg_nrw.png) no-repeat 0 0/cover;
  padding: 6.51vw 7.81vw 6.51vw;
  position: relative;
}
@media (min-width: 835px) {
  .l-footer {
    background: url(/omnibus/assets/img/common/footer/ph_bg.png) no-repeat 0 0/cover;
    padding: 30px 0 25px;
  }
}
.impression .l-footer {
  background: #2828b4 !important;
}

.l-footer__txt {
  font-size: 0.625rem;
  line-height: 1.4;
}
.impression .l-footer__txt {
  color: #fff;
}

@media (min-width: 835px) {
  .l-footer__row {
    display: flex;
  }
}

.l-footer__top {
  background: url(/omnibus/assets/img/common/footer/ico_arw.svg) no-repeat 0 0/100%;
  display: block;
  height: 10.02vw;
  margin-bottom: 32px;
  margin-left: auto;
  position: relative;
  width: 9.76vw;
}
@media (min-width: 835px) {
  .l-footer__top {
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 64px;
    height: 54px;
    width: 53px;
  }
}
@media (min-width: 835px) {
  .l-footer__top:hover {
    transform: translateY(-5px);
  }
}
.impression .l-footer__top {
  background: url(/omnibus/assets/img/common/footer/ico_arw_w.svg) no-repeat 0 0/100%;
}

.l-footer__inner {
  position: relative;
}

@media (max-width: 834px) {
  .l-footer__logo {
    position: absolute;
    top: -4vw;
    left: 0;
    width: 60.41vw;
  }
}
@media (min-width: 835px) {
  .l-footer__logo {
    display: none;
  }
}

@media (max-width: 834px) {
  .l-footer__info {
    margin-top: 4.16vw;
  }
}
@media (min-width: 835px) {
  .l-footer__info {
    max-width: 480px;
    padding: 0 0 0 30px;
    width: 60%;
  }
}

.l-footer__share {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.l-footer__share .ttl {
  font-size: 0.875rem;
  font-weight: 700;
  margin-right: 7px;
}
.impression .l-footer__share .ttl {
  color: #fff;
}
.l-footer__share .list {
  display: flex;
}
.l-footer__share .list_item {
  margin: 0 7px;
  position: relative;
}
.l-footer__share .list_item a {
  display: block;
  height: 100%;
}
.l-footer__share .list_item.-twitter {
  background: url(/omnibus/assets/img/common/share/ico_x.svg) no-repeat 50% 50%/90%;
  height: 18px;
  width: 17px;
}
.impression .l-footer__share .list_item.-twitter {
  background: url(/omnibus/assets/img/common/share/ico_x_w.svg) no-repeat 50% 50%/90%;
}
.l-footer__share .list_item.-line {
  background: url(/omnibus/assets/img/common/share/ico_line.svg) no-repeat 50% 50%/auto 100%;
  height: 21px;
  width: 22px;
}
.impression .l-footer__share .list_item.-line {
  background: url(/omnibus/assets/img/common/share/ico_line_w.svg) no-repeat 50% 50%/auto 100%;
}
.l-footer__share .list_item.-facebook {
  background: url(/omnibus/assets/img/common/share/ico_facebook.svg) no-repeat 50% 50%/auto 100%;
  height: 19px;
  width: 10px;
}
.impression .l-footer__share .list_item.-facebook {
  background: url(/omnibus/assets/img/common/share/ico_facebook_w.svg) no-repeat 50% 50%/auto 100%;
}

.l-footer__link {
  display: flex;
  margin-bottom: 10px;
}
.l-footer__link .item {
  font-size: 0.75rem;
  display: flex;
  font-weight: 900;
  justify-content: center;
  padding: 0 7px;
  position: relative;
}
@media (min-width: 835px) {
  .l-footer__link .item {
    font-size: 1rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    line-height: 1;
  }
}
.impression .l-footer__link .item {
  color: #fff;
}
.l-footer__link .item:before {
  background: #000;
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 835px) {
  .l-footer__link .item:before {
    width: 2px;
  }
}
.impression .l-footer__link .item:before {
  background-color: #fff;
}
.l-footer__link .item:last-child:after {
  background: #000;
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 835px) {
  .l-footer__link .item:last-child:after {
    width: 2px;
  }
}
.impression .l-footer__link .item:last-child:after {
  background-color: #fff;
}

.l-footer__banner {
  display: flex;
}
@media (max-width: 834px) {
  .l-footer__banner {
    gap: 2.21vw;
    justify-content: center;
    margin-top: 2.86vw;
  }
}

@media (max-width: 834px) {
  .l-footer__banner__item {
    width: 36.45vw;
  }
}
@media (min-width: 835px) {
  .l-footer__banner__item {
    width: 170px;
  }
}
@media (min-width: 835px) {
  .l-footer__banner__item:nth-of-type(2) {
    margin-left: 8px;
  }
}
.l-footer__banner__item img {
  height: auto;
  width: 100%;
}

.l-fxdshare {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 35px;
  opacity: 0;
  transition: all 0.4s 0s ease;
  visibility: visible;
  width: 180px;
  z-index: 5;
}
.l-fxdshare.-active {
  opacity: 1;
  visibility: visible;
}
.l-fxdshare.-hide {
  opacity: 0;
  visibility: hidden;
}
.l-fxdshare .ttl {
  font-size: 0.875rem;
  font-weight: 700;
  margin-right: 8px;
}
.l-fxdshare .list {
  display: flex;
}
.l-fxdshare .list_item {
  margin: 0 5px;
  position: relative;
}
.l-fxdshare .list_item a {
  display: block;
  height: 100%;
}
.l-fxdshare .list_item.-x {
  background: url(/omnibus/assets/img/common/share/ico_x.svg) no-repeat 50% 50%/90%;
  height: 18px;
  width: 17px;
}
.l-fxdshare .list_item.-line {
  background: url(/omnibus/assets/img/common/share/ico_line.svg) no-repeat 50% 50%/auto 100%;
  height: 21px;
  width: 22px;
}
.l-fxdshare .list_item.-facebook {
  background: url(/omnibus/assets/img/common/share/ico_facebook.svg) no-repeat 50% 50%/auto 100%;
  height: 19px;
  width: 10px;
}

.l-fxdshare__inner {
  background: #C45AFF;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  padding: 7px 0;
  width: 100%;
}
.-introend .l-fxdshare__inner {
  animation: changeitemIn 0.2s 3.7s forwards;
}

:root {
  --screenHeight: 0;
}

.l-gnav {
  display: block;
  position: relative;
}
@media (max-width: 834px) {
  .l-gnav {
    justify-content: left;
    min-height: 100vh;
    min-height: var(--screenHeight);
    padding: min(37.23vw, 143px) 8.33vw;
  }
}
@media (min-width: 835px) {
  .l-gnav {
    display: flex;
    justify-content: center;
    padding: 200px 8.33vw;
  }
}
.l-gnav::before {
  position: fixed;
  top: -5px;
  left: -5px;
  background-image: url(/omnibus/assets/img/common/header/title_nrw.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
}
@media (max-width: 834px) {
  .l-gnav::before {
    height: 58.85vw;
    width: 81.25vw;
  }
}
@media (min-width: 835px) {
  .l-gnav::before {
    height: 23.43vw;
    width: 32.44vw;
  }
}

.l-gnav__inner {
  display: flex;
}
@media (max-width: 834px) {
  .l-gnav__inner {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    justify-content: center;
    padding-bottom: 7.03vw;
  }
}
@media (min-width: 835px) {
  .l-gnav__inner {
    border-right: 1px solid #000;
  }
}

.l-gnav__group {
  display: flex;
  flex-direction: column;
}
@media (max-width: 834px) {
  .l-gnav__group {
    gap: 3.9vw 0;
  }
}
@media (min-width: 835px) {
  .l-gnav__group {
    gap: 24px 0;
    padding-right: min(3.12vw, 60px);
  }
}
@media (max-width: 834px) {
  .l-gnav__group.-right {
    margin-left: 7.03vw;
  }
}

@media (max-width: 834px) {
  .l-gnav__banner {
    display: flex;
    justify-content: center;
    margin-top: 8.46vw;
  }
}
@media (min-width: 835px) {
  .l-gnav__banner {
    margin-left: 60px;
  }
}

@media (min-width: 835px) {
  .l-gnav__banner__group + .l-gnav__banner__group {
    margin-top: 40px;
  }
}
@media (max-width: 834px) {
  .l-gnav__banner__group:nth-of-type(2) {
    margin: 1.3vw 0 0 5.2vw;
    min-width: 114px;
  }
}

.l-gnav__item {
  letter-spacing: 0.04em;
  line-height: 1;
  position: relative;
  white-space: nowrap;
}
@media (max-width: 834px) {
  .l-gnav__item {
    font-size: min(5.98vw, 23px);
  }
}
@media (min-width: 835px) {
  .l-gnav__item {
    font-size: min(1.77vw, 34px);
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-active a::after, .l-gnav__item:hover a::after {
    width: 100%;
  }
}
.l-gnav__item a {
  transition: opacity 0.2s;
}
@media (min-width: 835px) {
  .l-gnav__item a {
    padding-bottom: 6px;
    position: relative;
  }
  .l-gnav__item a::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    transform: translate(-50%, 0);
    transition: width 0.25s ease-out;
    width: 0;
  }
}
@media (min-width: 835px) {
  .l-gnav__item a:hover {
    opacity: 0.5;
  }
}
.l-gnav__item:last-child::after {
  display: none;
}
@media (max-width: 834px) {
  .l-gnav__item.-banner {
    width: min(47.52vw, 184px);
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-banner {
    width: min(12.76vw, 245px);
  }
}
.l-gnav__item.-banner img {
  height: auto;
  width: 100%;
}
@media (max-width: 834px) {
  .l-gnav__item.-banner + .l-gnav__item.-banner {
    margin-top: 3.9vw;
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-banner + .l-gnav__item.-banner {
    margin-top: 10px;
  }
}
@media (max-width: 834px) {
  .l-gnav__item.-otherlink {
    font-size: min(4.81vw, 18px);
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-otherlink {
    font-size: min(1.3vw, 25px);
  }
}
@media (max-width: 834px) {
  .l-gnav__item.-otherlink + .l-gnav__item.-otherlink {
    margin-top: 5.2vw;
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-otherlink + .l-gnav__item.-otherlink {
    margin-top: 20px;
  }
}
.l-gnav__item.-otherlink a {
  background-color: #000;
  border-radius: 999px;
  color: #C45AFF;
  line-height: 1;
  position: relative;
  /* @include MQ_UNDER(1520) {
      padding: 2px 25px 2px 10px;
  } */
  /* 
  @include MQ_NARROW {
      padding: 4px min(getVW(50), 25px) 4px min(getVW(24), 12px);
  } */
}
@media (max-width: 834px) {
  .l-gnav__item.-otherlink a {
    padding: 4px min(6.51vw, 25px) 4px min(3.12vw, 12px);
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-otherlink a {
    padding: 2px 16px 2px 10px;
  }
}
.l-gnav__item.-otherlink a::before {
  position: absolute;
  top: 34%;
  background: url(/omnibus/assets/img/common/ico/ico_external.svg) 0 0/100% auto no-repeat;
  content: "";
  display: block;
  transform: translate(0, -50%);
}
@media (max-width: 1520px) {
  .l-gnav__item.-otherlink a::before {
    height: 10px;
    right: 10px;
    width: 10px;
  }
}
@media (max-width: 834px) {
  .l-gnav__item.-otherlink a::before {
    height: min(3.12vw, 12px);
    right: min(2.6vw, 10px);
    width: min(3.12vw, 12px);
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-otherlink a::before {
    height: 8px;
    right: 6px;
    width: 8px;
  }
}
.l-gnav__item.-otherlink a::after {
  content: none;
}
@media (max-width: 834px) {
  .l-gnav__item.-tieup a {
    padding: 4px min(3.12vw, 12px);
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-tieup a {
    padding: 2px 10px;
  }
}
.l-gnav__item.-tieup a::before {
  display: none;
}
.l-gnav__item.-music a {
  position: relative;
}
.l-gnav__item.-music a::before {
  position: absolute;
  top: 40%;
  background: url(/omnibus/assets/img/common/ico/ico_external_b.svg) 0 0/100% auto no-repeat;
  content: "";
  display: block;
  transform: translate(0, -50%);
  /* @include MQ_UNDER(1520) {
      height: 10px;
      right: 10px;
      width: 10px;
  }
  @include MQ_NARROW {
      height: min(getVW(24), 12px);
      right: min(getVW(20), 10px);
      width: min(getVW(24), 12px);
  } */
}
@media (max-width: 834px) {
  .l-gnav__item.-music a::before {
    position: absolute;
    top: 7px;
    right: -12px;
    height: 10px;
    width: 10px;
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-music a::before {
    position: absolute;
    top: 7px;
    right: -12px;
    height: 10px;
    width: 10px;
  }
}
.l-gnav__item.-sns .sns-list {
  display: flex;
}
@media (max-width: 834px) {
  .l-gnav__item.-sns .sns-list {
    gap: 4.29vw;
    margin-top: 2.6vw;
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-sns .sns-list {
    gap: min(1.56vw, 30px);
    margin-top: 10px;
  }
}
@media (max-width: 834px) {
  .l-gnav__item.-sns .sns-ttl {
    font-size: min(2.86vw, 11px);
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-sns .sns-ttl {
    font-size: 1rem;
  }
}
.l-gnav__item.-sns .sns-item {
  aspect-ratio: 1/1;
  background: #000;
  transition: opacity 0.1s;
}
.l-gnav__item.-sns .sns-item.-x {
  -webkit-mask: url(/omnibus/assets/img/common/share/ico_x.svg) no-repeat 0 0/contain;
          mask: url(/omnibus/assets/img/common/share/ico_x.svg) no-repeat 0 0/contain;
}
@media (max-width: 834px) {
  .l-gnav__item.-sns .sns-item.-x {
    width: 4.29vw;
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-sns .sns-item.-x {
    width: min(1.3vw, 25px);
  }
}
.l-gnav__item.-sns .sns-item.-instagram {
  -webkit-mask: url(/omnibus/assets/img/common/share/ico_instagram.svg) no-repeat 0 0/contain;
          mask: url(/omnibus/assets/img/common/share/ico_instagram.svg) no-repeat 0 0/contain;
}
@media (max-width: 834px) {
  .l-gnav__item.-sns .sns-item.-instagram {
    width: 4.94vw;
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-sns .sns-item.-instagram {
    width: min(1.45vw, 28px);
  }
}
.l-gnav__item.-sns .sns-item.-tiktok {
  -webkit-mask: url(/omnibus/assets/img/common/share/ico_tiktok.svg) no-repeat 0 0/contain;
          mask: url(/omnibus/assets/img/common/share/ico_tiktok.svg) no-repeat 0 0/contain;
}
@media (max-width: 834px) {
  .l-gnav__item.-sns .sns-item.-tiktok {
    width: 4.55vw;
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-sns .sns-item.-tiktok {
    width: min(1.4vw, 27px);
  }
}
@media (min-width: 835px) {
  .l-gnav__item.-sns .sns-item:hover {
    opacity: 0.5;
  }
}
.l-gnav__item.-sns a {
  display: block;
  height: 100%;
  padding: 0;
  width: 100%;
}
.l-gnav__item.-sns a::after {
  display: none;
}

.l-header__share {
  position: absolute;
  bottom: 11.042vh;
  right: 20px;
  color: #fff;
  text-align: center;
  z-index: 9;
}
@media (min-width: 1401px) {
  .l-header__share {
    position: fixed;
    top: 50%;
    left: auto;
    bottom: auto;
    right: 40px;
    transform: translate(0, -50%);
  }
}
@media (max-width: 834px) {
  .l-header__share {
    display: none;
  }
}
.l-header__share .ttl {
  font-size: 0.625rem;
  font-weight: 600;
  margin-bottom: -3px;
}
.l-header__share .item {
  height: 28px;
  margin: 15px auto 0;
  position: relative;
}
@media (min-width: 1401px) {
  .l-header__share .item {
    height: 28px;
    margin: 15px auto 0;
  }
}
.l-header__share .item a {
  display: block;
  height: 100%;
}
.l-header__share .item.-x {
  background: url(/omnibus/assets/img/common/share/ico_x_w.svg) no-repeat 50% 50%/100% auto;
  height: 23px;
  width: 22px;
}
@media (min-width: 1401px) {
  .l-header__share .item.-x {
    background: url(/omnibus/assets/img/common/share/ico_x_w.svg) no-repeat 50% 50%/100% auto;
    height: 23px;
    width: 22px;
  }
}
.l-header__share .item.-line {
  background: url(/omnibus/assets/img/common/share/ico_line_w.svg) no-repeat 50% 50%/100% auto;
  height: 27px;
  width: 28px;
}
@media (min-width: 1401px) {
  .l-header__share .item.-line {
    background: url(/omnibus/assets/img/common/share/ico_line_w.svg) no-repeat 50% 50%/100% auto;
    height: 27px;
    width: 28px;
  }
}
.l-header__share .item.-facebook {
  background: url(/omnibus/assets/img/common/share/ico_facebook_w.svg) no-repeat 50% 50%/100% auto;
  height: 19px;
  width: 10px;
}
@media (min-width: 1401px) {
  .l-header__share .item.-facebook {
    background: url(/omnibus/assets/img/common/share/ico_facebook_w.svg) no-repeat 50% 50%/100% auto;
    height: 19px;
    width: 10px;
  }
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  background: map-getColor(primary);
  clip-path: inset(0 0 100% 0);
  color: #000;
  height: 100%;
  overflow: scroll;
  pointer-events: none;
  transition: clip-path 0.6s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  visibility: hidden;
  width: 100%;
  z-index: 9;
  /* @include MQ_NARROW {
      overflow: scroll;
  } */
  /* @include MQ_UNDER(1520) {

      clip-path: inset(0 0 100% 0);
      color: #000;
      height: 100%;
      overflow: scroll;
      pointer-events: none;
      transition: clip-path 0.6s 0s $easeInOutCirc;
      visibility: hidden;
  } */
  /* .top &{
      top: 0;
  } */
}
.-gnav_open .l-header {
  clip-path: inset(0 0 0 0);
  pointer-events: auto;
  visibility: visible;
  z-index: 11;
}
@media (max-width: 834px) {
  .-gnav_open .l-header {
    background: url(/omnibus/assets/img/common/header/ph_bg_nrw.png) no-repeat 0 0/cover;
  }
}
@media (min-width: 835px) {
  .-gnav_open .l-header {
    background: url(/omnibus/assets/img/common/header/ph_bg.png) no-repeat 0 0/cover;
  }
}

.l-header__inner {
  position: relative;
}

.l-header__close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  height: 32px;
  width: 32px;
  /* @include MQ_UNDER(1520) {
      display: block;
  } */
}
.l-header__close::before, .l-header__close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #000;
  content: "";
  height: 2px;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 100%;
}
.l-header__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.l-header__trigger {
  position: fixed;
  top: 0;
  right: 0;
  background: #C45AFF;
  display: block;
  height: 15.62vw;
  max-height: 60px;
  max-width: 60px;
  width: 15.62vw;
  z-index: 4;
  /* @include MQ_UNDER(1520) {
      display: block;
  } */
}
.l-header__trigger::before, .l-header__trigger::after {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #000;
  content: "";
  height: 1px;
  transform: translate(-50%, -50%);
  width: 25px;
}
.l-header__trigger::before {
  transform: translate(-50%, calc(-50% - 4px));
}
.l-header__trigger::after {
  transform: translate(-50%, calc(-50% + 4px));
}

.l-header__bandbtn {
  position: fixed;
  top: 86px;
  left: auto;
  bottom: auto;
  right: 38px;
  transition: transform 0.3s 0s ease;
  width: 116px;
}
.l-header__bandbtn:hover {
  transform: scale(1.1);
}
@media (max-width: 1520px) {
  .l-header__bandbtn {
    position: absolute;
    top: auto;
    left: 8.46vw;
    bottom: 6.25vw;
    right: auto;
    width: 140px;
  }
}

.l-pagebg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
  width: 100%;
}

.l-pagebg__layer {
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 835px) {
  .l-pagebg__layer {
    background: url(/omnibus/assets/img/common/pagebg/pagebg.png) 100% 100% no-repeat;
    height: 100%;
    width: 100%;
  }
}
.introduction .l-pagebg__layer, .story .l-pagebg__layer, .ticket .l-pagebg__layer, .music .l-pagebg__layer, .novelty .l-pagebg__layer, .bddvd .l-pagebg__layer {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 0.5s ease-out, 2s ease-out;
}
@media (max-width: 834px) {
  .introduction .l-pagebg__layer, .story .l-pagebg__layer, .ticket .l-pagebg__layer, .music .l-pagebg__layer, .novelty .l-pagebg__layer, .bddvd .l-pagebg__layer {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 835px) {
  .introduction .l-pagebg__layer, .story .l-pagebg__layer, .ticket .l-pagebg__layer, .music .l-pagebg__layer, .novelty .l-pagebg__layer, .bddvd .l-pagebg__layer {
    height: 100%;
    width: 50vw;
  }
}
@media (max-width: 834px) {
  .introduction .l-pagebg__layer, .ticket .l-pagebg__layer, .novelty .l-pagebg__layer, .bddvd .l-pagebg__layer {
    background-image: url(/omnibus/assets/img/common/pagebg/pagebg_intro_nrw.png);
  }
}
@media (min-width: 835px) {
  .introduction .l-pagebg__layer, .ticket .l-pagebg__layer, .novelty .l-pagebg__layer, .bddvd .l-pagebg__layer {
    background-image: url(/omnibus/assets/img/common/pagebg/pagebg_intro.png);
  }
}
@media (max-width: 834px) {
  .music .l-pagebg__layer {
    display: none;
  }
}
@media (min-width: 835px) {
  .music .l-pagebg__layer {
    background-image: url(/omnibus/assets/img/common/pagebg/pagebg_intro.png);
  }
}
@media (max-width: 834px) {
  .story .l-pagebg__layer {
    background-image: url(/omnibus/assets/img/common/pagebg/pagebg_story_nrw.png);
  }
}
@media (min-width: 835px) {
  .story .l-pagebg__layer {
    background-image: url(/omnibus/assets/img/common/pagebg/pagebg_story.png);
  }
}
.character .l-pagebg__layer {
  background: none;
}
@media (max-width: 834px) {
  .ticket .l-pagebg__layer, .novelty .l-pagebg__layer, .bddvd .l-pagebg__layer {
    display: none;
  }
}
.-ready .l-pagebg__layer {
  opacity: 1;
  transform: scale(1);
}

@keyframes phe_onpumove {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(0, -20%) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
.l-pageheader {
  position: relative;
}
@media (max-width: 834px) {
  .l-pageheader {
    overflow: hidden;
    padding-bottom: 10.41vw;
    padding-top: 16.92vw;
    text-align: center;
    z-index: 1;
  }
}
@media (min-width: 835px) {
  .l-pageheader {
    padding-top: 115px;
  }
}

@media (max-width: 834px) {
  .l-pageheader__logo {
    position: absolute;
    top: 3.38vw;
    left: 3.25vw;
    width: 23.43vw;
  }
}
@media (min-width: 835px) {
  .l-pageheader__logo {
    position: absolute;
    top: 20px;
    left: 60px;
    width: 160px;
    z-index: 10;
  }
}
.l-pageheader__logo a {
  display: block;
}

.l-pageheader__onpu {
  position: absolute;
  top: 100px;
  left: -100px;
  opacity: 0.5;
}
.l-pageheader__onpu span {
  animation: phe_onpumove 3s 0s ease infinite;
  display: block;
}
@media (min-width: 835px) {
  .l-pageheader__onpu span:nth-child(1) {
    position: absolute;
    top: -15px;
    left: 25px;
    width: 20px;
  }
}
.l-pageheader__onpu span:nth-child(2) {
  filter: blur(2px);
}
@media (min-width: 835px) {
  .l-pageheader__onpu span:nth-child(2) {
    position: absolute;
    top: 30px;
    left: 35px;
    animation-delay: 0.15s;
    width: 18px;
  }
}
.l-pageheader__onpu span:nth-child(3) {
  filter: blur(2px);
}
@media (min-width: 835px) {
  .l-pageheader__onpu span:nth-child(3) {
    position: absolute;
    top: -55px;
    left: 80px;
    animation-delay: 0.3s;
    width: 54px;
  }
}

.l-pageheader__title {
  position: relative;
}
@media (max-width: 834px) {
  .l-pageheader__title {
    margin: 23px 0 0 6.51vw;
  }
}
.l-pageheader__title path {
  fill: #fff;
  opacity: 0;
  transform: translate(20px, 5px);
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.l-pageheader__title path:nth-child(1) {
  transition-delay: 0s;
}
.l-pageheader__title path:nth-child(2) {
  transition-delay: 0.05s;
}
.l-pageheader__title path:nth-child(3) {
  transition-delay: 0.1s;
}
.l-pageheader__title path:nth-child(4) {
  transition-delay: 0.15s;
}
.l-pageheader__title path:nth-child(5) {
  transition-delay: 0.2s;
}
.l-pageheader__title path:nth-child(6) {
  transition-delay: 0.25s;
}
.l-pageheader__title path:nth-child(7) {
  transition-delay: 0.3s;
}
.l-pageheader__title path:nth-child(8) {
  transition-delay: 0.35s;
}
.l-pageheader__title path:nth-child(9) {
  transition-delay: 0.4s;
}
.l-pageheader__title path:nth-child(10) {
  transition-delay: 0.45s;
}
.l-pageheader__title path:nth-child(11) {
  transition-delay: 0.5s;
}
.l-pageheader__title path:nth-child(12) {
  transition-delay: 0.55s;
}
.l-pageheader__title path:nth-child(13) {
  transition-delay: 0.6s;
}
.l-pageheader__title path:nth-child(14) {
  transition-delay: 0.65s;
}
.l-pageheader__title path:nth-child(15) {
  transition-delay: 0.7s;
}
.-ready .l-pageheader__title path {
  opacity: 1;
  transform: translate(0, 0);
}
@media (max-width: 834px) {
  .news .l-pageheader__title {
    width: 38.02vw;
  }
}
@media (min-width: 835px) {
  .news .l-pageheader__title {
    width: 237px;
  }
}
@media (max-width: 834px) {
  .introduction .l-pageheader__title {
    width: 86.71vw;
  }
}
@media (min-width: 835px) {
  .introduction .l-pageheader__title {
    width: 537px;
  }
}
@media (max-width: 834px) {
  .story .l-pageheader__title {
    width: 38.54vw;
  }
}
@media (min-width: 835px) {
  .story .l-pageheader__title {
    width: 240px;
  }
}
@media (max-width: 834px) {
  .character .l-pageheader__title {
    width: 72.91vw;
  }
}
@media (min-width: 835px) {
  .character .l-pageheader__title {
    width: 452px;
  }
}
@media (max-width: 834px) {
  .caststaff .l-pageheader__title {
    width: 79.03vw;
  }
}
@media (min-width: 835px) {
  .caststaff .l-pageheader__title {
    width: 490px;
  }
}
@media (max-width: 834px) {
  .theater .l-pageheader__title {
    width: 57.03vw;
  }
}
@media (min-width: 835px) {
  .theater .l-pageheader__title {
    width: 354px;
  }
}
@media (max-width: 834px) {
  .ticket .l-pageheader__title {
    width: 42.83vw;
  }
}
@media (min-width: 835px) {
  .ticket .l-pageheader__title {
    width: 259px;
  }
}
@media (max-width: 834px) {
  .novelty .l-pageheader__title {
    width: 53.25vw;
  }
}
@media (min-width: 835px) {
  .novelty .l-pageheader__title {
    width: 362px;
  }
}
@media (max-width: 834px) {
  .talksession .l-pageheader__title {
    width: 78.64vw;
  }
}
@media (min-width: 835px) {
  .talksession .l-pageheader__title {
    width: 474px;
  }
}
@media (max-width: 834px) {
  .bddvd .l-pageheader__title {
    width: 77.47vw;
  }
}
@media (min-width: 835px) {
  .bddvd .l-pageheader__title {
    width: 468px;
  }
}
@media (max-width: 834px) {
  .goods .l-pageheader__title {
    width: 42.96vw;
  }
}
@media (min-width: 835px) {
  .goods .l-pageheader__title {
    width: 260px;
  }
}
@media (max-width: 834px) {
  .movie .l-pageheader__title {
    width: 42.96vw;
  }
}
@media (min-width: 835px) {
  .movie .l-pageheader__title {
    width: 268px;
  }
}
@media (max-width: 834px) {
  .music .l-pageheader__title {
    width: 40.58vw;
  }
}
@media (min-width: 835px) {
  .music .l-pageheader__title {
    width: 239.2393px;
  }
}
@media (max-width: 834px) {
  .special .l-pageheader__title {
    width: 40.58vw;
  }
}
@media (min-width: 835px) {
  .special .l-pageheader__title {
    width: 306px;
  }
}
@media (max-width: 834px) {
  .tieup .l-pageheader__title {
    width: 36.19vw;
  }
}
@media (min-width: 835px) {
  .tieup .l-pageheader__title {
    width: 219px;
  }
}

.l-pageheader__sholder {
  backface-visibility: hidden;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
  opacity: 0;
  clip-path: inset(0 50% 0 0);
  transform: translate(0, 10px);
  transition: all 0.5s 0.25s ease-out;
}
@media (max-width: 834px) {
  .l-pageheader__sholder {
    margin: -3.26vw 0 0 6.51vw;
    width: 42.18vw;
  }
}
@media (min-width: 835px) {
  .l-pageheader__sholder {
    margin-top: -12px;
    width: 212px;
  }
}
.-ready .l-pageheader__sholder {
  opacity: 1;
  clip-path: inset(0 0 0 0);
  transform: translate(0, 0);
}

@media (min-width: 835px) {
  .c-btn-link {
    max-width: 540px;
  }
}
.c-btn-link a {
  font-size: 0.96875rem;
  align-items: center;
  background: #C45AFF;
  color: black;
  display: flex;
  font-weight: bold;
  line-height: 1;
  margin: auto;
  padding: 15px 10px;
  position: relative;
}
@media (min-width: 835px) {
  .c-btn-link a {
    font-size: 1.0625rem;
    font-size: 20px;
    padding: 18px 36px 18px 18px;
  }
}
.c-btn-link a span {
  display: block;
}
@media (max-width: 834px) {
  .c-btn-link a span img {
    margin-left: 3px;
    margin-top: -9px;
    width: 9px;
  }
}
@media (min-width: 835px) {
  .c-btn-link a span img {
    margin-left: 4px;
    margin-top: -10px;
    width: 12px;
  }
}
.c-btn-link a::after {
  position: absolute;
  top: 50%;
  right: 10px;
  background: url(/tv/assets/img/page/character/next.png) no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
  display: block;
  height: 17px;
  transform: translateY(-50%);
  width: 10px;
}
@media (min-width: 835px) {
  .c-btn-link a::after {
    position: absolute;
    top: 50%;
    right: 23px;
    height: 19px;
    width: 13px;
  }
}

.c-guildhall {
  font-family: "guildhall-condensed", sans-serif;
}

.c-dystopian {
  font-family: dystopian, sans-serif;
}

.c-barlow {
  font-family: "Barlow Condensed", sans-serif;
}

.c-serif {
  font-family: YakuHanMP_Noto, "Noto Serif JP", serif;
}

.c-hover_op {
  transition: opacity 0.3s 0s ease;
}
@media (min-width: 835px) {
  .c-hover_op:hover {
    opacity: 0.5;
  }
}

.c-inner {
  position: relative;
}
@media (min-width: 835px) {
  .c-inner {
    margin: 0 auto;
    max-width: 1408px;
    padding: 0 64px;
  }
}

/* ==========================================================================
	modal
========================================================================== */
.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  opacity: 0;
  overflow: scroll;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  overflow-y: scroll;
  pointer-events: none;
  scrollbar-width: none; /* Firefox 対応 */
  transition: all 0.5s 0s ease;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}
.c-modal.-active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  z-index: 10;
}
.c-modal::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}
.c-modal.-compilation::before {
  content: "";
  display: block;
}
@media (max-width: 834px) {
  .c-modal.-compilation::before {
    position: absolute;
    top: -0.4vw;
    left: -1.18vw;
    background: url(/tv/assets/img/page/top/modal/txt_01_nrw.svg) no-repeat top left/100%;
    height: 13.41vw;
    width: 102.73vw;
  }
}
@media (min-width: 835px) {
  .c-modal.-compilation::before {
    position: absolute;
    top: -2px;
    right: -5px;
    background: url(/tv/assets/img/page/top/modal/txt_01.svg) no-repeat top right/auto 100%;
    height: 100%;
    max-height: 967px;
    width: 131px;
  }
}
.c-modal.-compilation::after {
  content: "";
  display: block;
}
@media (max-width: 834px) {
  .c-modal.-compilation::after {
    position: absolute;
    left: -0.79vw;
    bottom: -1.05vw;
    background: url(/tv/assets/img/page/top/modal/txt_02_nrw.svg) no-repeat bottom left/100%;
    height: 16.4vw;
    width: 101.43vw;
  }
}
@media (min-width: 835px) {
  .c-modal.-compilation::after {
    position: absolute;
    top: -2px;
    left: -6px;
    background: url(/tv/assets/img/page/top/modal/txt_02.svg) no-repeat top left/auto 100%;
    height: 100%;
    max-height: 964px;
    width: 151px;
  }
}
.c-modal .illust {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 834px) {
  .c-modal .illust {
    width: 100%;
  }
}
.c-modal .illust img {
  display: block;
}
@media (min-width: 835px) {
  .c-modal .illust img {
    max-height: 90vh;
    width: auto;
  }
}

.c-modal__inner {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.c-modal__close {
  cursor: pointer;
  padding: 0;
}
@media (max-width: 834px) {
  .c-modal__close {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 64px;
    width: 64px;
  }
}
@media (min-width: 835px) {
  .c-modal__close {
    position: fixed;
    top: 20px;
    right: 50px;
    height: 80px;
    width: 80px;
  }
}
.c-modal__close:before, .c-modal__close:after {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  content: "";
  height: 2px;
  width: 100%;
}
.c-modal__close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.c-modal__close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.c-modal__close.-bk:before, .c-modal__close.-bk:after {
  background: #000;
}

.c-modal_movie__iframewrap {
  aspect-ratio: 16/9;
  margin: 0 auto;
  max-width: 80vw;
  position: relative;
  width: 100%;
}
.c-modal_movie__iframewrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@keyframes onpuAnime1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -10px);
  }
}
@keyframes onpuAnime2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 10px);
  }
}
@keyframes onpuLineAnime {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.8);
  }
}
@media (max-width: 834px) {
  .c-onpu {
    position: absolute;
    bottom: 3vw;
    right: 0;
    height: 23.82vw;
    width: 100vw;
  }
}
@media (min-width: 835px) {
  .c-onpu {
    height: 19.53vw;
    width: 59.37vw;
  }
  .news .c-onpu, .character .c-onpu, .caststaff .c-onpu, .theater .c-onpu, .ticket .c-onpu, .goods .c-onpu, .movie .c-onpu, .special .c-onpu, .talksession .c-onpu, .tieup .c-onpu {
    position: fixed;
    top: 0;
    left: 0;
  }
  .top .c-onpu, .introduction .c-onpu, .story .c-onpu, .music .c-onpu, .novelty .c-onpu, .bddvd .c-onpu {
    position: fixed;
    bottom: -5vw;
    right: 0;
  }
}

.c-onpu__layer {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100%;
  width: 100%;
}
.c-onpu__layer.-layer1 {
  animation: onpuLineAnime 5s linear infinite alternate-reverse;
  opacity: 0.5;
  transform-origin: 0 20%;
}
@media (max-width: 834px) {
  .c-onpu__layer.-layer1 {
    background-image: url(/omnibus/assets/img/common/content/onpu_line_nrw.png);
  }
}
@media (min-width: 835px) {
  .c-onpu__layer.-layer1 {
    background-image: url(/omnibus/assets/img/common/content/onpu_line.png);
  }
}
.c-onpu__layer.-layer2 {
  animation: onpuAnime1 2s linear infinite alternate-reverse;
}
@media (max-width: 834px) {
  .c-onpu__layer.-layer2 {
    background-image: url(/omnibus/assets/img/common/content/onpu_item1_nrw.png);
  }
}
@media (min-width: 835px) {
  .c-onpu__layer.-layer2 {
    background-image: url(/omnibus/assets/img/common/content/onpu_item1.png);
  }
}
.c-onpu__layer.-layer3 {
  animation: onpuAnime2 2s linear infinite alternate-reverse;
}
@media (max-width: 834px) {
  .c-onpu__layer.-layer3 {
    background-image: url(/omnibus/assets/img/common/content/onpu_item2_nrw.png);
  }
}
@media (min-width: 835px) {
  .c-onpu__layer.-layer3 {
    background-image: url(/omnibus/assets/img/common/content/onpu_item2.png);
  }
}

.c-paging {
  display: flex;
  justify-content: center;
}
@media (max-width: 834px) {
  .c-paging {
    margin: 48px 30px 0;
  }
}
@media (min-width: 835px) {
  .c-paging {
    margin-top: 80px;
  }
}
.c-paging .-prev, .c-paging .-next {
  cursor: pointer;
  position: relative;
}
.c-paging .-prev a, .c-paging .-prev span, .c-paging .-next a, .c-paging .-next span {
  display: block;
}
.c-paging .-prev a::before, .c-paging .-prev span::before, .c-paging .-next a::before, .c-paging .-next span::before {
  position: absolute;
  top: 45%;
  border-bottom: 2px solid #FFF;
  content: "";
  display: block;
  height: 10px;
  width: 10px;
}
.c-paging .-prev.-disable, .c-paging .-next.-disable {
  opacity: 0.3;
}
.c-paging .-prev {
  margin-right: 40px;
}
.c-paging .-prev a::before, .c-paging .-prev span::before {
  border-left: 2px solid #fff;
  left: 0;
  transform: translate(0, -50%) rotate(45deg);
}
.c-paging .-next {
  margin-left: 40px;
}
.c-paging .-next a::before, .c-paging .-next span::before {
  border-right: 2px solid #fff;
  right: 0;
  transform: translate(0, -50%) rotate(-45deg);
}
.c-paging .-backtop {
  color: #fff;
  line-height: 1;
}
@media (max-width: 834px) {
  .c-paging .-backtop {
    font-size: 1.125rem;
  }
}
@media (min-width: 835px) {
  .c-paging .-backtop {
    font-size: 1.25rem;
  }
}
.c-paging .-num {
  color: #fff;
  font-weight: bold;
  line-height: 1;
  margin: 3px 0;
}
@media (max-width: 834px) {
  .c-paging .-num {
    font-size: 1.125rem;
  }
}
@media (min-width: 835px) {
  .c-paging .-num {
    font-size: 1.25rem;
  }
}
.c-paging .-num:not(:first-child) {
  margin-left: 10px;
}
.c-paging .-num a {
  color: #fff;
  display: inline-block;
  padding: 0 5px 8px;
  position: relative;
}
.c-paging .-num a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #C45AFF;
  content: "";
  display: block;
  height: 2px;
  transform: scaleX(0);
  width: 100%;
}
.c-paging .-num.-active a::after {
  transform: scaleX(1);
}

.c-paging__numwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: calc(100% - 50px);
}

.c-noscrollbar {
  scrollbar-width: none;
}
.c-noscrollbar::-webkit-scrollbar {
  display: none;
}

.js-scrollreveal {
  opacity: 0;
  transform: translateY(10px);
}
.js-scrollreveal.-reveal {
  animation: revalIn 0.6s 0.2s ease forwards;
}

.c-tab-part {
  display: flex;
  position: relative;
}
@media (max-width: 834px) {
  .c-tab-part {
    gap: 8px;
    justify-content: center;
    margin: 1.95vw auto 0;
    width: max(83.33vw, 280px);
  }
}
@media (min-width: 835px) {
  .c-tab-part {
    gap: 10px;
    margin-top: 30px;
  }
}

.c-tab-part__item {
  border: 1px solid #C45AFF;
  border-radius: 9999px;
  color: #C45AFF;
  display: inline-block;
  font-weight: 900;
  opacity: 0;
  position: relative;
  text-align: center;
}
@media (max-width: 834px) {
  .c-tab-part__item {
    font-size: 0.875rem;
    height: 24px;
    line-height: 23px;
    width: 100%;
  }
}
@media (min-width: 835px) {
  .c-tab-part__item {
    font-size: 1rem;
    height: 31px;
    line-height: 29px;
    width: 185px;
  }
}
.-ready .c-tab-part__item {
  animation: navitemIn 0.5s 0s forwards;
}
.-ready .c-tab-part__item:nth-of-type(1) {
  animation-delay: 0.3s;
}
.-ready .c-tab-part__item:nth-of-type(2) {
  animation-delay: 0.35s;
}
.c-tab-part__item::after {
  position: absolute;
  left: 50%;
  background: #C45AFF;
  clip-path: polygon(100% 0, 0 0, 49% 100%);
  transform: translateX(-50%);
}
@media (max-width: 834px) {
  .c-tab-part__item::after {
    bottom: -7px;
    height: 7.5px;
    width: 8.5px;
  }
}
@media (min-width: 835px) {
  .c-tab-part__item::after {
    bottom: -10px;
    height: 15px;
    width: 17px;
  }
}
.c-tab-part__item.-active {
  background: #C45AFF;
  color: #fff;
}
.c-tab-part__item.-active::after {
  content: "";
}
@media (min-width: 835px) {
  .c-tab-part__item:not(.-active):hover {
    background: rgba(196, 90, 255, 0.3);
  }
}
.c-tab-part__item a {
  display: block;
  height: 100%;
  width: 100%;
}

@keyframes navitemIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.c-secttl {
  color: #C45AFF;
  line-height: 1;
}
@media (max-width: 834px) {
  .c-secttl {
    font-size: 2rem;
    padding-bottom: 12px;
  }
}
@media (min-width: 835px) {
  .c-secttl {
    font-size: 1.5rem;
    padding-bottom: calc(20px - 0.1em);
  }
}

.c-subttl {
  color: #C45AFF;
  font-size: 7.29vw;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1;
  padding-bottom: 10px;
}
@media (min-width: 835px) {
  .c-subttl {
    font-size: 1.875rem;
  }
}

.c-diagonalttl {
  display: flex;
}
@media (max-width: 834px) {
  .c-diagonalttl {
    border: solid 2px #C45AFF;
    margin-top: 20px;
    padding: 0 0 8px;
    position: relative;
  }
}
@media (min-width: 835px) {
  .c-diagonalttl {
    border: solid 1px #C45AFF;
    height: 78px;
    margin-top: 30px;
  }
}
@media (max-width: 834px) {
  .c-diagonalttl:not(:first-of-type) {
    margin-top: 40px;
  }
}
@media (min-width: 835px) {
  .c-diagonalttl:not(:first-of-type) {
    margin-top: 50px;
  }
}

.c-diagonalttl__lead {
  align-items: center;
  background-color: #C45AFF;
  box-sizing: border-box;
  color: #000;
  display: flex;
  position: relative;
  white-space: nowrap;
}
@media (max-width: 834px) {
  .c-diagonalttl__lead {
    clip-path: polygon(0 0, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
    height: 100%;
    line-height: 0.9166666667;
    padding-left: 11px;
    width: 70px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
  }
}
@media (min-width: 835px) {
  .c-diagonalttl__lead {
    font-size: 1.875rem;
    clip-path: polygon(0 0, 100% 0%, calc(100% - 28px) 100%, 0% 100%);
    padding-left: 22px;
    width: 150px;
  }
}

.c-diagonalttl__cont {
  align-items: center;
  color: #C45AFF;
  font-weight: 900;
  position: relative;
}
@media (max-width: 834px) {
  .c-diagonalttl__cont {
    font-size: 1.3125rem;
    line-height: 1.1428571429;
    margin-left: 80px;
  }
}
@media (min-width: 835px) {
  .c-diagonalttl__cont {
    font-size: 1.625rem;
    display: flex;
    margin-left: 20px;
  }
}
@media (max-width: 834px) {
  .c-diagonalttl__cont span {
    font-size: 0.75rem;
  }
}
@media (min-width: 835px) {
  .c-diagonalttl__cont span {
    font-size: 1.125rem;
    margin-right: 2px;
  }
}

@media (min-width: 835px) {
  .c-visible_nrw {
    display: none;
  }
}

@media (max-width: 834px) {
  .c-visible_wide {
    display: none;
  }
}